<div class="row">
      <div class="col s0 m6">
        <div class="card-panel teal">
          <span class="white-text"><strong>Explica y elabora un diagrama sobre cómo funciona AJAX con jQuery.
        </strong><img src="Estilos/ajax.png"/>
          </span>
        </div>
      </div>

      <div class="col s4 m6">
        <div class="card-panel teal">
          <span class="white-text"><strong>¿Qué alternativas a jQuery existen?</strong>KENDO, WEBIX, JQWidgets, Easy Ui, Wijmo.
          </span>
        </div>
      </div>
  


<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="../materialize/js/materialize.js"></script>
        <script src="init.js"></script>
        <script src="ajax.js"></script>
        <script src="./Lab11.js"></script>
        <script>
            $(document).ready(function() {
            $('select').material_select();
            });
        </script> 
        
    </body>
</html>