<div class="row">
        <div class="col s12 m12">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Editar <?=$registro["name"]?></span>
              <div class="row">
      <form class="col s12" action="nuevo.php" method="post">
          <?php if(isset($registro)): ?>
            <input name="id" id="id" type="hidden" value='<?=$registro["id"];?>'>
        <?php endif; ?>
        <div class="row">
          <div class="input-field col s6">
            <input name="name" id="name" type="text" class="validate" value='<?=$registro["name"]?>' placeholder='<?=$registro["name"]?>' >
            <label for="name">Nombre</label>
          </div>
          <div class="input-field col s6">
            <input name="units" id="units" type="text" class="validate" value='<?=$registro["units"]?>' placeholder=<?=$registro["units"]?>>
            <label for="units">Unidades</label>
          </div>
        </div>
    </div>

        <div class="row">
          <div class="input-field col s6">
            <input name="quantity" id="quantity" type="text" class="validate" value='<?=$registro["quantity"]?>' placeholder='<?=$registro["quantity"]?>'>
            <label for="quantity">Cantidad</label>
          </div>
          <div class="input-field col s6">
            <input name="price" id="price" type="text" class="validate" value='<?=$registro["price"]?>' placeholder='<?=$registro["price"]?>'>
            <label for="units">Precio(MXN)</label>
          </div>
        </div>

<div class="row">
          <div class="input-field col s6">
            <input onkeypress="getSuggestionsCountry()" name="country" id="country" type="text" class="validate" value='<?=$registro["country"]?>'>
            <label for="country">País</label>
            <div id="ajaxResponse"></div>
          </div>
        </div>
<button type="submit" id="submit_form" hidden="hidden"></button>
            </div>
            <div class="card-action">
                <a class="modal-action modal-close waves-effect waves-green btn-flat ">Disagree</a>
                <label for="submit_form" class="modal-action modal-close waves-effect waves-red btn-flat ">Agree</a>
            </div>
          </div>
        </div>
      </div>