<div class="row">
      <div class="col s0 m4">
        <div class="card-panel teal">
          <span class="white-text"><strong>¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications?</strong>Porque nos ayuda a conseguir muchas de las características que se pueden encontrar en aplicaciones de escritorio tradicionales. Aparte es el unico framework RIA que puede ser encontrado por los buscadores
          </span>
        </div>
      </div>

      <div class="col s4 m4">
        <div class="card-panel teal">
          <span class="white-text"><strong>¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, del lado del cliente o del lado del servidor?</strong>Ajax permite emitir javascript de forma asincrónica de un navegador, sin embargo permite que se hagan llamadas ajax malintencionadas. Se debe de proteger ambas partes.
          </span>
        </div>
      </div>
    
    
    <div class="col s4 m4">
        <div class="card-panel teal">
          <span class="white-text"><strong>¿Qué es JSON?</strong> Es un formato de texto ligero que permite el intercambio de datos. Es un subconjunto de la notación literal de los objetos de JavaScript aunque hoy, debido a su amplia adopción se le conoce como una alternativa a XML.
          </span>
        </div>
      </div>
      </div>
  


<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="../materialize/js/materialize.js"></script>
        <script src="init.js"></script>
        <script src="ajax.js"></script>
        <script src="./Lab11.js"></script>
        <script>
            $(document).ready(function() {
            $('select').material_select();
            });
        </script> 
        
    </body>
</html>