body{
    background-image: url(Estilos/fuji.jpg);
    background-size: cover;
}

a.button-collapse{
    color : black;
}

#botoncito{
    font-size: 50px;
}

.profilePic{
  hidden = "hidden"
}

.btn-large i{
    font-size:2rem;
}