body {
    background-color: cornflowerblue;
    background-size: cover;
}

#info {
    font-family: sans-serif;
    font-size: 24px;
    color : #333;
    background-color: white;
    margin: 2%;
    padding: 5%;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #333;
}

#info h {
    font-family: 'Baloo Bhaina', cursive;
    font-size: 1.8em;
}

#info p{
    font-family: sans-serif;
}

.container {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    border-radius: 5px;
}

.container a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color: #333;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

footer {
    font-family: 'Baloo Bhaina', cursive;
    text-align: center;
}

#submenu {
    text-align: center;
}

#submenu button{
    cursor: pointer;
    font-size: 130%;
    font-family: 'Baloo Bhaina', cursive;
    border: none;
    outline: none;
    border: 14px;
}

#space h{
    text-align: center;
}

td {
    background-color: gray;
    text-align: center;
    padding-left: 14pt;
    padding-right: 14pt;
}

table{
    margin: auto;
    margin-top: 20pt;
}

#space{
    text-align: center;
}

#wtrmark {
    position: fixed;
    opacity: .5;
    height: 75%;
    margin-left:65%;
    margin-top: 8%;
}

#reloj-op {
    text-align: center;
}

#div1{
    width: 480px;
    height: 360px;
    padding: 10px;
    border: 10px solid red;
}