#reloj{
font-family: 'Baloo Bhaina', cursive;
    font-size: 142px;
    color : #333; 
    text-align: center;
}    

body {
    background-image: url(img/fuji.jpg);
    background-size: cover;
}

.container {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    border-radius: 5px;
}

.container a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color: #333;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

info {
    font-family: 'Baloo Bhaina', cursive;
    font-size: 35px;
    color : #333; 
    text-align: center;
}