<div class="row">
      <div class="col s0 m6">
        <div class="card-panel teal">
          <span class="white-text"><strong>¿Por qué es una buena práctica separar el modelo del controlador?</strong>Porque así se puede evitar que el usuario tenga acceso directo a todas las funciones de php
          </span>
        </div>
      </div>

      <div class="col s4 m6">
        <div class="card-panel teal">
          <span class="white-text"><strong>¿Qué es SQL Injection?</strong> Es un tipo de ataque que consiste en aprovechar la vulnerabilidad de poder incrustar código SQL
          </span>
        </div>
      </div>
      </div>
  


<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="../materialize/js/materialize.js"></script>
        <script src="init.js"></script>
        <script src="./Lab11.js"></script>
        <script>
            $(document).ready(function() {
            $('select').material_select();
            });
        </script> 
        
    </body>
</html>