<!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Registrar nueva frutaaa</h4>
    <div class="row">
      <form class="col s12" action="nuevo.php" method="post">
        <div class="row">
          <div class="input-field col s6">
            <input name="name" id="name" type="text" class="validate">
            <label for="name">Nombre</label>
          </div>
          <div class="input-field col s6">
            <input name="units" id="units" type="text" class="validate">
            <label for="units">Unidades</label>
          </div>
        </div>
    </div>

        <div class="row">
          <div class="input-field col s6">
            <input name="quantity" id="quantity" type="text" class="validate">
            <label for="quantity">Cantidad</label>
          </div>
          <div class="input-field col s6">
            <input name="precio" id="precio" type="text" class="validate">
            <label for="units">Precio(MXN)</label>
          </div>
        </div>

<div class="row">
          <div class="input-field col s6">
            <input name="country" id="country" type="text" class="validate">
            <label for="country">País</label>
          </div>
        </div>
        
        </div>
    <div class="modal-footer">
        <button type="submit" id="submit_form" hidden="hidden"></button>
    <a class="modal-action modal-close waves-effect waves-green btn-flat ">Disagree</a>
    <label for="submit_form" class="modal-action modal-close waves-effect waves-red btn-flat ">Agree</a>
        </div>
      </div>
