<!-- Modal Trigger -->
<div class = "row center">
    <h1>Laboratorio 11</h1>
    <h2>Presiona el botón para ingresar tus datos</h2>
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1" id="btn">Modal</a>
</div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Registro</h4>
    <div class="row">
      <form class="col s12" action="validar" method="post">
        <div class="row">
          <div class="input-field col s6">
            <input name="nombre" id="nombre" type="text" class="validate">
            <label for="nombre">Nombre</label>
          </div>
          <div class="input-field col s6">
            <input name="apellido" id="apellido" type="text" class="validate">
            <label for="apellido">Apellido</label>
          </div>
        </div>
    </div>
        
        <div class="row">
          <div class="input-field col s6">
            <input name="mail" id="mail" type="email" class="validate">
            <label for="mail">Mail</label>
          </div>
          <div class="input-field col s6">
            <input name="con_mail" id="con_mail" type="email" class="validate">
            <label for="con_mail">Confirmar mail</label>
          </div>
        </div>
            
        <div class="row">
          <div class="input-field col s6">
            <input name="contrasenia" id="contrasenia" type="password" class="validate">
            <label for="contrasenia">Contraseña</label>
          </div>
          <div class="input-field col s6">
            <input name="con_contrasenia" id="con_contrasenia" type="password" class="validate">
            <label for="con_contrasenia">Confirmar contraseña</label>
          </div>
        </div>
        <button type="submit" id="submit_form" hidden="hidden"></button>
        </div>
        
     <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat ">Disagree</a>
    <label for="submit_form" class="modal-action modal-close waves-effect waves-red btn-flat ">Agree</a>
        </div>
      </div>
      
    <div class="row">
      <div class="col s0 m3">
        <div class="card-panel teal">
          <span class="white-text"><strong>¿Por qué es una buena práctica separar el controlador de la vista?</strong> Porque se hace más segura la página ante ataques, ya que el php y el script no son accesibles por otros usuarios.
          </span>
        </div>
      </div>
   
      <div class="col s4 m3">
        <div class="card-panel teal">
          <span class="white-text"><strong>Aparte de los arreglos $_POST y $_GET, ¿qué otros arreglos están predefinidos en php y cuál es su función?</strong> <ul><li>$_GLOBALS: Da una referencia de todas las variables globales del script</li><li>$_COOKIES: Variables pasadas al script</li><li>$_SERVER: Información del servidor en el que se encuentra el script</li><li>$_ENV: Variables pasadas al script a través del método del entorno</li><li>$_REQUEST: Contiene el contenido de los métodos de get, post y cookie</li><li>$_FILES: Elementos subidos en el pasado por el metodo Post</li></ul>
          </span>
        </div>
      </div>
        
        <div class="col s8 m3">
        <div class="card-panel teal">
          <span class="white-text"><strong>Explora las funciones de php, y describe 2 que no hayas visto en otro lenguaje y que llamen tu atención.</strong>Error_reporting: Es una fucnión que sirve para mostrar los errores en la fase de desarrollo.<br>password_hash: Sirve para encriptar las contraseñas
          </span>
        </div>
      </div>
        
        <div class="col s12 m3">
        <div class="card-panel teal">
          <span class="white-text"><strong>¿Qué es XSS y cómo se puede prevenir?</strong> Es un ataque basado en la inyección de código, puede usarse para robar información, secuestrar sesiones y comprometer al navegador y el sistema. Se puede prevenir mediante validaciones por el lado del servidor, firewalls o cookies
          </span>
        </div>
      </div>
        
    </div>