<div class="row">
      <div class="col s0 m4">
        <div class="card-panel teal">
          <span class="white-text"><strong>¿Qué es ODBC y para qué es útil?</strong>Es un estandar desarrollado por SQL para poder accesar a cualquier dato sin importar el gestor de bases de datos que se esté usando
          </span>
        </div>
      </div>

      <div class="col s4 m4">
        <div class="card-panel teal">
          <span class="white-text"><strong>¿Qué es SQL Injection?</strong> Es un tipo de ataque que consiste en aprovechar la vulnerabilidad de poder incrustar código SQL
          </span>
        </div>
      </div>

        <div class="col s8 m4">
        <div class="card-panel teal">
          <span class="white-text"><strong>¿Qué técnicas puedes utilizar para evitar ataques de SQL Injection?</strong>No usando sentencias dinámicas ni funciones mysql_*
        </div>
      </div>
      </div>
  


<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="../materialize/js/materialize.js"></script>
        <script src="init.js"></script>
        <script src="./Lab11.js"></script>
        
    </body>
</html>