<!-- Modal Trigger -->
<div class = "row center">
    <h1>Laboratorio 13</h1>
    <h2>Presiona el botón para ingresar tus datos</h2>
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1" id="btn">Modal</a>
</div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Registro</h4>
    <div class="row">
      <form class="col s12" action="validar.php" method="post" enctype="multipart/form-data">
        <div class="row">
          <div class="input-field col s6">
            <input name="nombre" id="nombre" type="text" class="validate">
            <label for="nombre">Nombre</label>
          </div>
          <div class="input-field col s6">
            <input name="apellido" id="apellido" type="text" class="validate">
            <label for="apellido">Apellido</label>
          </div>
        </div>
    </div>

        <div class="row">
          <div class="input-field col s6">
            <input name="mail" id="mail" type="email" class="validate">
            <label for="mail">Mail</label>
          </div>
          <div class="input-field col s6">
            <input name="con_mail" id="con_mail" type="email" class="validate">
            <label for="con_mail">Confirmar mail</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <input name="contrasenia" id="contrasenia" type="password" class="validate">
            <label for="contrasenia">Contraseña</label>
          </div>
          <div class="input-field col s6">
            <input name="con_contrasenia" id="con_contrasenia" type="password" class="validate">
            <label for="con_contrasenia">Confirmar contraseña</label>
          </div>
        </div>

        <div class="file-field input-field col s12">
          <div class="btn">
            <span>File</span>
            <input type="file" name="foto" id="foto">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" name="path" type="text">
          </div>
        </div>

        <button type="submit" id="submit_form" hidden="hidden"></button>
        </div>

     <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat ">Disagree</a>
    <label for="submit_form" class="modal-action modal-close waves-effect waves-red btn-flat ">Agree</a>
        </div>
      </div>

    <div class="row">
      <div class="col s0 m3">
        <div class="card-panel teal">
          <span class="white-text"><strong>¿Por qué es importante hacer un session_unset() y luego un session_destroy()?</strong>Porque se debe limpiar las sesiones y posteriormente borrarlas, para que no se borren y sigan abiertas
          </span>
        </div>
      </div>

      <div class="col s4 m3">
        <div class="card-panel teal">
          <span class="white-text"><strong>¿Cuál es la diferencia entre una variable de sesión y una cookie?</strong> Una variable de sesión guarda los valores del servidor mientras que una cookie guarda los datos del usuario
          </span>
        </div>
      </div>

        <div class="col s8 m3">
        <div class="card-panel teal">
          <span class="white-text"><strong>¿Qué técnicas se utilizan en sitios como facebook para que el usuario no sobreescriba sus fotos en el sistema de archivos cuando sube una foto con el mismo nombre?</strong>Que el nombre del archivo sea asociado con la sesión
        </div>
      </div>

        <div class="col s12 m3">
        <div class="card-panel teal">
          <span class="white-text"><strong>¿Qué es CSRF y cómo puede prevenirse?</strong> Es cuando se forza a un usuario a realizar acciones no deseadas en una página en la que no saben que están autenticados. Con el control de sesiones.
          </span>
        </div>
      </div>

    </div>
