  <!-- Modal Structure -->
  <div id="modalOpen" class="modal">
    <div class="modal-content">
      <h4>Error</h4>
      <p><?=$m?></p>
    </div>
    <div class="modal-footer">
      <a href="index.php" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>