  <div id="modalOpen" class="modal">
    <div class="modal-content">
      <h4>¡CONGRATULACIONES!</h4>
      <p>Bienvenido a la familia, <?=$fn?>.<br>No esperes prestaciones ni mucho menos vacaciones pagadas, estás aquí por gusto.</p>
    </div>
    <div class="modal-footer">
      <a href="index.php" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>